window {
	background-color: rgba(15,15,15, 0.65);
	border: 1.5px solid white;
	border-radius: 5px;
}


#entry:selected {
	background-color: white;
	color: black;
	border: none;
}

#entry:selected text {
	color: black;
}

#selected {
	border: none;
}
