window, #input {
	background-color: rgba(15,15,15, 0.65);
	border: none;
	border-radius: 5px;
}

#input:text {
	color: white;
}

#text {
	color: white;
}

#text:selected {
	color: white;
}

#entry:selected {
	background-color: rgba(15,15,15, 0.65);
	color: black;
	border: 1px solid white;
}

#entry:selected text {
	color: white;
}

#selected {
	border: none;
}
